/* start customize default values */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Libre Franklin,sans-serif;
}
li{
    list-style: none;
}
p{
    color: #94a3b8;
}
a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
a.co-wh5{
    color: #fff9;
}
a.co-aq{
    color: #14b8a6;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}
.row{
    display: flex;
    justify-content: space-between;
}
/* end customize default values */

/* start customize header */
.page-header{
    background-color: #103743;
    padding: 1.2rem 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}
.page-header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header .logo{
    margin-right: 2rem;
}
.page-header .menu{
    width: 100%;
}
nav.main-menu ul{
    display: flex;
    justify-content: flex-end;
}
.page-header .login{
    margin-left: 2rem;
}
a.head-link{
    padding: 13px;
    transition: all .3s;
}
nav.main-menu ul li:hover a.head-link:not(a.active){
    color: #fff;
}
button.custom {
    padding: 8px 15px;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 5px;
    background: #14b8a6;
    color: #fff;
    border: none;
    font-weight: bold;
}
/* end customize header */


/* mobile media */
@media(max-width:766px){
    .bars-icon i {
        font-size: 25px;
        color: #fff;
    }
    .mobile-menu{
        position: relative;
        margin-left: 20px;
    }
    .mobile-menu:hover .visi-hov{
        display: block;
    }
    .mob-links{
        width: 130px;
        position: absolute;
        right: 0;
        background: #14b8a6;
        padding: 10px;
        z-index: 999999;
        top: 30px;
        border-radius: 5px;
    }
    .visi-hov{
        display: none;
        transition: all .3s;
    }
    .mob-links li{
        margin-bottom: 7px;
    }
    .mob-links li a{
        color: #fff;
    }
    a.login-btn {
        display: flex;
        flex: 0 0 50%;
        justify-content: flex-end;
    }
}

@media(min-width:767px){
    .mobile-menu{
        display: none !important;
    }
}