/* start customize default values */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Libre Franklin,sans-serif;
    background-color: #0f172a;
    position: relative;
}
button{
    cursor: pointer;
}
li{
    list-style: none;
}
p{
    color: #94a3b8;
}
a{
    text-decoration: none;
}
a.active,h1{
    color: #fff !important;
}
a.co-wh5{
    color: #fff9;
}
a.co-aq{
    color: #14b8a6;
}
/* fixed component */

.fa-chevron-right{
    font-size: 9px;
    margin-left: 5px;
    vertical-align: middle;
}
.title-section{
    text-align: center;
    margin-bottom: 50px;
}
.title-section h2{
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
}
.title-section p{
    line-height: 1.5;
    font-size: 17px;
}
.box-shadow-sty{
    box-shadow: 0px 0px 3px 0px rgb(255, 255,255,.7);
}
.padd-100{
    padding: 100px 0;
}
.padd-14{
    padding: 14rem 0 12rem 0;
}
/* fixed component */

/* button */
.contact-btn .custom,.about-btn .custom {
    font-size: 20px;
    font-weight: normal;
}
/* button */

/* end customize default values */

/* start customize home section  */
.home{
    background-color: #103743;
    padding: 14rem 0 12rem 0;
}
.row-ho {
    display: flex;
}
.row-ho > div {
    flex: 0 0 50%;
    max-width: 50%;
}
.photo-ho{
    padding-left: 2rem;
    position: relative;
}
.photo-ho img{
    z-index: 9;
    position: relative;
}
.photo-ho:before {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #127a76;
    content: '';
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 8;
}
.text-ho h1 {
    font-size: 55px;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.text-ho p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 2rem;
}
/* end customize home section  */

/* start customize about section */
.about{
    background-color: #0f172a;
}
.row-abo{
    display: flex;
    align-items: center;
}
.row-abo > div{
    flex: 0 0 50%;
    max-width: 50%;
}
.text-abo{
    padding-left: 80px;
}
.text-abo h6{
    font-size: 14px;
    color: #14b8a6;
    font-weight: 700;
    margin-bottom: 1rem;
}
.text-abo h3{
    font-size: 27px;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 1rem;
}
.text-abo p{
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.image-abo{
    position: relative;
}
.image-abo img{
    border-radius: 50%;
}
.image-abo .img-txt{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.center-flex{
    width: 250px;
    height: 250px;
    background: #0f172a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
}
.image-abo .img-txt h2{
    color: #14b8a6;
}
.image-abo .img-txt h2 span{
    font-size: 60px;
} 
.image-abo .img-txt span{
    color: #fff;
    line-height: 1.5;
}
/* end customize about section */

/* start customize services section */
.services{
    background-color: #1e293b;
}
.row-serv {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px,1fr));
    gap: 20px;
}
.card-serv{
    padding: 25px;
    border-radius: 10px;
    background-color: #0f172a;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.card-serv:hover .icon-serv{
    background: linear-gradient(30deg,#14b8a61a, #14b8a670);
}
.icon-serv {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(30deg, #0f1d2f,#14b8a61a);
    margin-bottom: 2rem;
}
.icon-serv i{
    font-size: 25px;
}
.card-serv h2{
    color: #fff;
    font-size: 20px;
    margin-bottom: 1rem;
    transition: all .1s;
}
.card-serv p{
    margin-bottom: 1.5rem;
    font-size: 17px;
}
.card-serv h2:hover{
    color: #14b8a6;
}
.icon-serv,.btn-serv{
    color: #14b8a6;
}
.card-serv .svg{
    position: absolute;
    width: 9rem;
    right: -20%;
    top: 35%;
    z-index: -1;
    opacity: .3;
    fill: rgb(20 184 166 / .1);
    transition: .5s;
}
.card-serv:hover .svg{
    fill: rgb(20 184 166 / .5);
}

/* services-2 */
.secvices-2{
    background-color: #0f172a;
}
.row-serv-2{
    display: flex;
}
.seo-serv-2{
    flex: 0 0 70%;
    max-width: 70%;
    margin-left: 40px;
    border-radius: 15px;
}
.step-serv-2{
    flex: 0 0 30%;
    max-width: 30%;
    border-radius: 15px;
}
.seo-serv-2 .image{
    padding: 25px;
}
.seo-serv-2 img{
    border-radius: 15px;
}
.seo-serv-2 .content-serv-2{
    padding: 20px;
}
.seo-serv-2 .content-serv-2 h2{
    color: #fff;
    margin-bottom: 20px;
}
.seo-serv-2 .content-serv-2 p{
    margin-bottom: 20px;
    line-height: 1.5;
}

.all-steps{
    padding: 20px;
    position: sticky;
    left: 0;
    top: 0;
    border-radius: 15px;
}
.all-steps .step-1{
    padding: 10px;
    background-color: #14b8a6;
    border-radius: 20px;
    position: sticky;
    margin-bottom: 35px;
}
.all-steps .step-1  span{
    display: block;
    color: #fff;
    margin-bottom: 15px;
}
.step-1 span.text-1 {
    font-size: 20px;
}
.step-1 span.text-2 {
    font-size: 20px;
}
.step-2{
    margin-bottom: 40px !important;
}
.step-2,.step-3{
    padding: 10px;
    border-radius: 10px;
    transition: all .3s ;
}
.step-2:hover,.step-3:hover{
    background-color: #1e293b;
}
.step-1 span.text-3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.8;
}
.step span{
    display: block;
    color: #fff;
    margin-bottom: 15px;
    font-size: 17px;
}

/* start customize video */
.video{
    position: relative;
}
.bg-gradient {
    background: #14b8a6;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
}
.video .text-vid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.video .text-vid p{
    color: #ffffffb3;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 15px;
    line-height: 1.5;
}
.video .text-vid .left-side h2{
    color: #fff;
    line-height: 1.5;
    font-size:30px;
}
.video .text-vid .right-side .btn-serv{
    color: #fff;
    font-size: 20px;
}
/* end customize services section */

/* start customize testemonials */
.all-teste{
    display: flex;
    gap: 30px;
}
.comment{
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
.comment::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    background: transparent;
    border-style: solid;
    border-color: rgb(255, 255,255,.7) transparent transparent transparent;
    border-width: 10px;
}
.comment > i{
    font-size: 40px;
    color: #14b8a6;
}
.comment > p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.comment .reviews{
    color: #fbbf24;
}
.only-teste .person  {
    text-align: center;
}
.only-teste .person img{
    width: 65px;
    border-radius: 50%;
    box-shadow: 0px 1px 11px 0px rgb(255 255 255 / 98%);
    margin-bottom: 20px;
}
.only-teste .person p{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
.only-teste .person span{
    color: #94a3b8;
    font-size: 17px;
}
/* end customize testemonials */

/* start customize pricing */
.pricing{
    background-color: #1e293b;
}
.row-price {
    display: flex;
    gap: 20px;
}
.package {
    padding: 30px;
    background-color: #0f172a;
    border-radius: 10px;
    height: fit-content;
}
.dif-bord{
    border: 1px solid #14b8a6;
}
.popular{
    padding: 0;
}
.popular .type-pr h2{
    padding: 10px;
    background-color: #14b8a6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.popular .all-content{
    padding: 0 30px 30px 30px;
}
.type-pr h2 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}
.custom .type-pr {
    margin-bottom: 20px;
}
span.number {
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
}
span.number::before{
    content: '$';
    position: absolute;
    font-size: 25px;
    top: 0;
    left: -15px;
}
span.number::after {
    content: '/mo';
    position: absolute;
    font-size: 25px;
    bottom: 10px;
}
.details li {
    display: flex;
    margin-bottom: 15px;
    line-height: 1.5;
}
.details li i{
     margin-right: 1rem;
}
.details li i::before{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 11px;
    border: 2px solid #14b8a6;
    padding: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    color: #14b8a6;
}
.btn-pric button {
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    background-color: #14b8a60d;
    color: #14b8a6;
    transition: all .3s;
}
.btn-pric.active button {
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 12px 0;
    background-color: #14b8a6;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.btn-pric.active button{
    margin-bottom: 8px;
}
.btn-pric:hover button {
    background-color: #14b8a6;
    color: #fff;
}
/* end customize pricing */

/* start customize blogs */
.row-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.row-blog .image-blog img{
    border-radius: 10px;
}
.card-blog{
    overflow: hidden;
}
.card-blog .image-blog{
    overflow: hidden;
    border-radius: 10px;
}
.card-blog .image-blog img{
    transition: all .5s;
}
.card-blog:hover .image-blog img{
    transform: scale(1.1);
}
.content-blog ul {
    display: flex;
    align-items: center;
    gap: 15px;
}
.content-blog ul{
    margin: 20px 0;
}
.content-blog ul li i{
    color: #fff;
    margin-right: 5px;
}
.content-blog ul li span{
    color: #94a3b8;
}
.content-blog h4{
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    transition: .3s;
    cursor: pointer;
}
.content-blog h4:hover{
    color: #14b8a6;
}
.content-blog p{
    line-height: 1.5;
    margin-bottom: 15px;
}
/* end customize blogs */

/* start customize contact us */
.row-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg-contact{
    flex: 0 0 58%;
    max-width: 58%;
}
.form-contact{
    flex: 0 0 38%;
    max-width: 38%;
    padding: 40px 20px 20px;
}
.form-contact .ro-1{
    display: flex;
    justify-content: space-between;
}
/* .form-contact label,.form-contact input{
    display: block;
} */
.form-contact label{
    color: #fff;
    font-weight: bold;
}
.form-contact input,.form-contact textarea{
    width: 100%;
    padding: 15px 10px;
    background-color: transparent;
    border: 1px solid #1f2937;
    margin: 10px 0 20px 0;
    border-radius: 5px;
}
.form-contact input::placeholder{
    font-size: 16px;
}
.form-contact .ro-1 input{
    width: 95%;
}
.form-contact input[type="submit"]{
    width: auto;
}
.form-contact .custom {
    font-size: 16px;
    padding: 10px 30px;
}
/* end customize contact us */

/* start customize footer */
.page-footer{
    padding: 30px 0;
    background-color: #192132;
    text-align: center;
}
.row-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-copy {
    color: #fff;
}
.footer-links{
    display: flex;
}
.footer-links li{
    margin: 0 5px;
    padding: 7px;
    border: 1px solid #1f2937;
    border-radius: 5px;
}
.footer-links li:hover{
    background-color: #14b8a6;
}
.footer-links li i{
    color:#fff;
    font-size: 13px;
    opacity: .8;    
}
/* end customize footer */

/* start customize fixed item */
.all-fixed{
position: fixed;
right: -50px;
top: 50%;
z-index: 99999999999;
transform: rotate(270deg);
display: flex;
align-items: center;
}
.rtl{
    margin-right: 15px;
}
.all-fixed .rtl p{
    padding: 5px 10px;
    background: #0f172a;
    border-top: 1px solid rgb(255, 255,255,.7);
    border-right: 1px solid rgb(255, 255,255,.7);
    border-left: 1px solid rgb(255, 255,255,.7);
    color: #fff;
    border-radius: 5px;
}
.dark-mode {
    width: 70px;
    height: 40px;
    background: #fff;
    margin: 0 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.moon {
    margin: 0 5px;
    color: #fcaa06;
}
.moon i{
    transform: rotate(150deg);
    font-size: 18px;
}
.circle {
    width: 35px;
    height: 35px;
    background: #0f172a;
    border-radius: 50%;
    margin: 2px;
}
.up{
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 9999;
}
.up div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #14b8a6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* end customize fixed item */


/* ----------------------------- start customize media  ---------------------------*/

@media(max-width:767px){
    .padd-5{
        padding: 5rem 0 !important;
    }
    .row-100 > div{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-left: 0;
    }
    .row-100 {
        flex-direction: column !important;
    }
    .grid-1-col{
            grid-template-columns: repeat(1,1fr) !important;
    }
}

@media(min-width:768px) and (max-width:1200px){
    .grid-2-col{
        grid-template-columns: repeat(2,1fr) !important;
}
.photo-ho:before {
    width: 400px !important;
    height: 400px !important;
    bottom: 45px !important;
}
.row-price.row-100 {
    flex-wrap: wrap;
}
.row-price.row-100 > div {
    flex: 0 0 48%;
    max-width: 50%;
}
}

/* header */
@media(max-width:767px){
    .page-header .menu{
        display: none;
    }
}

/* home section */
@media(max-width:767px){
    .row-ho {
        flex-direction: column;
        gap: 120px;
    }
    .row-ho > div {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .photo-ho:before {
        width: 350px;
        height: 350px;
    }
    .photo-ho {
        padding-left: 0;
    }
    .text-ho h1 {
        font-size: 40px !important;
    }
}

/* start customize services */
@media(max-width:767px){
    .seo-serv-2 {
        margin-top: 30px;
    }
    .text-abo{
        padding-left:0 !important ;
    }
}

/* start customize video  */
@media(max-width:767px){
    .video .text-vid{
        text-align: center;
    }
    .video .text-vid .left-side h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .video .text-vid p {
        font-size: 13px;
    }
    .video .text-vid .right-side .btn-serv {
        font-size: 17px;
    }
    .col-foo{
        margin-bottom: 20px;
    }
}



